<!-- <footer>
    <nav>
        <ul>
                <li><a href="#">Row 1</a></li>
                <li><a href="#">Row 2</a></li>
                <li><a href="#">Row 3</a></li>
        </ul>
        <ul>
                <li><a href="#">Row 1</a></li>
                <li><a href="#">Row 2</a></li>
                <li><a href="#">Row 3</a></li>
        </ul>
        <ul>
                <li><a href="https://twitter.com/">Twitter</a></li>
                <li><a href="mailto:username@example.com">Email</a></li>
                <li><a href="https://www.tiktok.com/">TikTok</a></li>
                <p>👋</p>
        </ul>
    </nav>
</footer> -->

<footer>
        <div class="container-fluid">
                <!-- Social Media-->
                <section class="">
                        <!-- Twitter -->
                        <a href="#!"><i class="bi bi-twitter"></i></a>

                        <!-- Facebook -->
                        <a href=""><i class="bi bi-facebook"></i></a>

                        <!-- Twitter -->
                        <a href="#!"><i class="bi bi-twitter"></i></a>

                        <!-- Reddit -->
                        <a href=""><i class="bi bi-reddit"></i></a>
                </section>

                <!--Info-->
                <section class="">
                        <div class="container text-center">
                                <div class="row">
                                        <div class="col">
                                                
                                        </div>
                                        <div class="col">
                                                
                                        </div>
                                        <div class="col">
                                                
                                        </div>
                                </div>
                        </div>
                </section>
        </div>
</footer>