<footer>
    <nav>
        <ul>
            <li><a href="https://twitter.com/">Twitter</a></li>
            <li><a href="mailto:username@example.com">Email</a></li>
            <li><a href="https://www.tiktok.com/">TikTok</a></li>
            <li>
                <p>👋</p>
            </li>
        </ul>
    </nav>
</footer>