<footer>
    <nav>
        <ul>
                <li><a href="#">Row 1</a></li>
                <li><a href="#">Row 2</a></li>
                <li><a href="#">Row 3</a></li>
        </ul>
        <ul>
                <li><a href="#">Row 1</a></li>
                <li><a href="#">Row 2</a></li>
                <li><a href="#">Row 3</a></li>
        </ul>
        <ul>
                <li><a href="https://twitter.com/">Twitter</a></li>
                <li><a href="mailto:username@example.com">Email</a></li>
                <li><a href="https://www.tiktok.com/">TikTok</a></li>
                <p>👋</p>
        </ul>
    </nav>
</footer>