<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a href="/" class="navbar-brand"><h1>Capital.io</h1></a>
          
          <button class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navmenu">
            <ul class="nav navbar-nav py-2">
              <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Newsletter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <% if (loginStatus) { %>
                  <a class="nav-link" href="/signout">Sign-Out</a>
                <% } else { %>
                  <a class="nav-link" href="/signin">Sign-In</a>
                <% } %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>
