<header>
    <nav>
        <ul>
            <li><a href="/views/index.ejs">Capital Trading.io</a></li>
            <li><a href="/views/data.ejs">Data</a></li>
            <li><a href="/views/news.ejs">News</a></li>
            <li><a href="/views/wiki.ejs">Wiki</a></li>
            <li><a href="/views/about.ejs">About</a></li>
            <li><a href="/views/signin.ejs">SignIn</a></li>
            <li><a href="#">Buy Me a Coffee</a></li>
        </ul>
    </nav>
</header>