<!-- <header>
    <nav>
        <ul>
            <li><a href="/">Capital Trading.io</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/newsletter">Newsletter</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/signin">SignIn</a></li>
            <li><a href="https://twitter.com/">Twitter</a></li>
            <li><a href="mailto:username@example.com">Email</a></li>
            <li><a href="https://www.tiktok.com/">TikTok</a></li>
        </ul>
    </nav>
</header> -->

<header>
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Capital.io</a>
          
          <button class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" >
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav p-2">
              <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Blog</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Newsletter</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Signin</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</header>
