<header>
    <nav>
        <ul>
            <li><a href="/">Capital Trading.io</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/newsletter">Newsletter</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/signin">SignIn</a></li>
            <li><a href="https://twitter.com/">Twitter</a></li>
            <li><a href="mailto:username@example.com">Email</a></li>
            <li><a href="https://www.tiktok.com/">TikTok</a></li>
        </ul>
    </nav>
</header>