<div class="row">
    <div class="col">
        <h1>About Capital.IO</h1>
        <p>Capital.IO is a project to consolidate and organize Congressional Financial Records in order for easier access.</p>
        <p>Future goals for this project is to do further analysis of the records and develop more valueable data insights.</p>
    </div>
    <div class="col">
        <img src="/public/img/undraw_projections_re_ulc6.svg" alt="">
    </div>
</div>