<h3>Transaction Submission Form</h3>
<form>
    <div class="form-row">
      <div class="col">
        <input type="text" class="form-control" placeholder="Person">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="State">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="District">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Asset Name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Asset Ticker">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Asset Description">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Asset Type">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Transaction Type">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Transaction Date">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Notification Date">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Amount">
      </div>
    </div>
</form>

<h3>Asset Submission Form</h3>
<form>
    <div class="form-row">
        <div class="col">
            <input type="text" class="form-control" placeholder="Person">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Asset">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Asset Owner">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Asset Income Type">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Asset Income">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Asset Taxable?">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Income Source">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Income Type">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Income Amount">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Transaction Date">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Notification Date">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Amount">
        </div>
    </div>
</form>