<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
 

<div class="container">
  <div class="data-container border">
    <h3>Transaction Submission Form</h3>
    <form action="/form/transaction/" method="POST">
      <div class="row mb-1">
        <div class="col">
          <select class="form-control person-select" id="transaction_person" name="person">
            <option value="" disabled selected>Select Person</option>
          </select>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col">
          <select class="form-control" id="transaction_owner" name="owner">
            <option value="" disabled selected>Asset Owner</option>
            <option value="Self">Self</option>
            <option value="JT">JT</option>
            <option value="SP">SP</option>
            <option value="DC">DC</option>
          </select>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col">
          <input type="text" class="form-control" placeholder="Asset Name" id="transaction_name" name="name">
        </div>
      </div>
      <div class="row mb-1">
        <div class="col">
          <input type="text" class="form-control" placeholder="Asset Ticker" id="transaction_ticker" name="ticker">
        </div>
      </div>
      <div class="row mb-1">
        <div class="col">
          <input type="text" class="form-control" placeholder="Asset Description" id="transaction_description" name="description">
        </div>
      </div>
      <div class="row mb-1">
        <div class="col">
          <select class="form-control" id="transaction_asset_type" name="type">
            <option value="" disabled selected>Select Asset Type</option>
            <option value="Stocks">Stocks</option>
            <option value="Bonds">Bonds</option>
            <option value="UST">US Treasury Securities</option>
            <option value="REIT">REIT</option>
            <option value="Options/Futures">Options/Futures</option>
            <option value="529 Stocks/Bonds">529 Stocks/Bonds</option>
            <option value="Hdedge/PE Funds">Hedge/Private Equity Funds</option>
            <option value="Crypto">Cryptocurrencies</option>
            <option value="Life Ins. Pol/Anny">Life Insurance Policies/Annuities</option>
          </select>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col">
          <select class="form-control" id="transaction_code" name="code">
            <option value="" disabled selected>Select Transaction Type</option>
            <option value="P">P</option>
            <option value="S">S</option>
            <option value="PS">PS</option>
            <option value="E">E</option>
          </select>
        </div>
      </div>
      <div class="row mb-1">
        <div class="col">
          <input type="text" class="form-control calendar" placeholder="Transaction Date" id="transaction_date" name="receipt_date">
        </div>
      </div>
      <div class="row mb-1">
        <div class="col">
          <input type="text" class="form-control calendar" placeholder="Notification Date" id="notification_transaction_date" name="notification_date">
        </div>
      </div>
      <div class="row mb-1">
        <div class="col">
          <select class="form-control" id="transaction_amount" name="amount">
            <option value="" disabled selected>Select Amount</option>
            <option value="$0 - $15,000">$0 - $15,000</option>
            <option value="$15,001 - $50,000">$15,001 - $50,000</option>
            <option value="$50,001 - $100,000">$50,001 - $100,000</option>
            <option value="$100,001 - $250,000">$100,001 - $250,000</option>
            <option value="$250,000 - $500,000">$250,000 - $500,000</option>
            <option value="$500,001 - $1,000,000">$500,001 - $1,000,000</option>
            <option value="$1,000,001 - $5,000,000">$1,000,001 - $5,000,000</option>
            <option value="$5,000,001 - $25,000,000">$5,000,001 - $25,000,000</option>
            <option value="$25,000,001 - $50,000,000">$25,000,001 - $50,000,000</option>
            <option value="$50,000,000+">$50,000,000+</option>
          </select>
        </div>
      </div>
      <button type="submit" class="" id="transaction-btn">Submit</button>
    </form>
  </div>

  <div class="data-container border">
    <h3>Asset Submission Form</h3>
      <form action="/form/asset/" method="POST"> 
        <div class="row mb-1">
          <div class="col">
            <select class="form-control person-select" id="asset_person" name="person" >
              <option value="" disabled selected>Select Person</option>
            </select>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col">           
            <select class="form-control" id="asset_owner" name="owner">
              <option value="" disabled selected>Asset Owner</option>
              <option value="Self">Self</option>
              <option value="JT">JT</option>
              <option value="SP">SP</option>
              <option value="DC">DC</option>
            </select>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col">
            <input type="text" class="form-control" placeholder="Asset Name" id="asset_name" name="name">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col">
            <input type="text" class="form-control" placeholder="Asset Ticker" id="asset_ticker" name="ticker">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col">
            <input type="text" class="form-control" placeholder="Asset Description" id="asset_description" name="description">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col">
            <input type="text" class="form-control" placeholder="Asset Value" id="asset_value" name="value">            
          </div>
        </div>
        <div class="row mb-1">
          <div class="col">
            <select class="form-control" id="asset_type" name="type">
              <option value="" disabled selected>Select Asset Type</option>
              <option value="Real Property">Real Property</option>
              <option value="Farms">Farms</option>
              <option value="Asset/Brokerage">Asset/Brokerage</option>
              <option value="Asset/IRA/401K/NonFedRetAcct">Asset/IRA/401K/NonFedRetAcct</option>
              <option value="Pension">Pension</option>
              <option value="529 College Savings Account">529 College Savings Account</option>
              <option value="Corp. Security">Corp. Security</option>
              <option value="Mutual Fund/ETF/REIT">Mutual Fund/ETF/REIT</option>
              <option value="Govt Sec/Agency Debt">Govt Sec/Agency Debt</option>
              <option value="Asset Backed Security">Asset Backed Security</option>
              <option value="Futures/Options">Futures/Options</option>
              <option value="Hedge Fund/PE">Hedge Fund/PE</option>
              <option value="Crypto">Cryptocurrency</option>
              <option value="Annuity">Annuity</option>
              <option value="Insurance Policy">Insurance Policy</option>
              <option value="Bank Account">Bank Account</option>
              <option value="Insurance Policy">Insurance Policy</option>
              <option value="Business Interest">Business Interest</option>
              <option value="Debts Owed to Filer">Debts Owed to Filer</option>
              <option value="Trusts">Trusts</option>
              <option value="Investment Clubs">Investment Clubs</option>
              <option value="Collectibles">Collectibles</option>
              <option value="IP/Royalties">IP/Royalties</option>
            </select>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col">
            <select class="form-control" id="asset_income_type" name="income_type">
              <option value="" disabled selected>Select Income Type</option>
              <option value="Dividends">Dividends</option>
              <option value="Interest">Interest</option>
              <option value="Capital Gains">Capital Gains</option>
              <option value="Rent">Rent</option>
              <option value="Royalties">Royalties</option>
              <option value="Business Interest">Business Interest</option>
              <option value="Estate/Trust">Estate/Trust</option>
              <option value="Debt Discharge">Debt Discharge</option>
            </select>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col">
            <input type="text" class="form-control" placeholder="Income Amount" id="asset_income_amount" name="income_amount">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col">
            <select class="form-control" id="asset_transaction_type" name="code">
              <option value="" disabled selected>Select Transaction Type</option>
              <option value="P">P</option>
              <option value="S">S</option>
              <option value="PS">PS</option>
              <option value="E">E</option>
            </select>
          </div>
        </div>
        <div class="row mb-1">
          <div class="col">
            <input type="text" class="form-control calendar" placeholder="Transaction Date" id="transaction_asset_date" name="receipt_date">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col">
            <input type="text" class="form-control calendar" placeholder="Notification Date" id="notification_asset_date" name="notification_date">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col">
            <select class="form-control" id="asset_amount" name="amount">
              <option value="" disabled selected>Select Amount</option>
              <option value="$0 - $15,000">$0 - $15,000</option>
              <option value="$15,001 - $50,000">$15,001 - $50,000</option>
              <option value="$50,001 - $100,000">$50,001 - $100,000</option>
              <option value="$100,001 - $250,000">$100,001 - $250,000</option>
              <option value="$250,000 - $500,000">$250,000 - $500,000</option>
              <option value="$500,001 - $1,000,000">$500,001 - $1,000,000</option>
              <option value="$1,000,001 - $5,000,000">$1,000,001 - $5,000,000</option>
              <option value="$5,000,001 - $25,000,000">$5,000,001 - $25,000,000</option>
              <option value="$25,000,001 - $50,000,000">$25,000,001 - $50,000,000</option>
              <option value="$50,000,000+">$50,000,000+</option>
            </select>
          </div>
        </div>
        <button type="submit" class="" id="asset-btn">Submit</button>
      </form>
  </div>
  <div class="data-container border">
    <h3>Post Submission Form</h3>
      <form action="/form/post/" method="POST"> 
        <div class="row mb-1">
          <div class="col">
            <input type="text" class="form-control" placeholder="Poster Name" id="user_name" name="user_name">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col">
            <input type="text" class="form-control" placeholder="Post Title" id="post_title" name="post_title">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col">
            <input type="text" class="form-control" placeholder="Post Image" id="post_image" name="post_image">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col">
            <input type="text" class="form-control calendar" placeholder="Post Date" id="post_date" name="post_date">
          </div>
        </div>
        <div class="row mb-1">
          <div class="col">
            <textarea class="form-control" placeholder="Post Content" id="textarea" name="textarea"></textarea>
          </div>
        </div>
        <button type="submit" class="" id="post-btn">Submit</button>
      </form>
  </div>   
</div>

<script>flatpickr('.calendar', {})</script>
<script>
  document.addEventListener('DOMContentLoaded', async () => {
    try {
        const response = await fetch('/form/data', {
        method: 'GET',
        headers: {'Content-Type': 'application/json'},
        })
        
        const dropDownData = await response.json()
        populateDropDown(dropDownData)

    } catch(error){
        console.log(error)
    }
})

function populateDropDown(dropDownData){
    persons_select = document.querySelectorAll('.person-select')
    states_select = document.querySelectorAll('.state-select')
    const persons = dropDownData.persons
    const states = dropDownData.states

    persons_select.forEach((person_select) => {
        persons.forEach((person) => {
            let option = document.createElement('option')
            option.value = person._id
            option.innerHTML = person.name
            person_select.append(option)
        })
    })

    states_select.forEach((state_select) => {
        states.forEach((state) => {
            let option = document.createElement('option')
            option.value = state.abbreviation
            option.innerHTML = state.name
            state_select.append(option)
        })
    })
}
</script>