<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<h3>Transaction Submission Form</h3>

<form action="/form/createTransaction/" method="POST">
    <div class="form-row">
      <div class="col">
        <label for="person-transaction">Select Person:</label>
        <select class="form-control person-select" id="person-transaction" placeholder="Person">
          <option value="" disabled selected>Select Person</option>
        </select>
      </div>
      <div class="col">
        <label for="state-transaction">Select State:</label>
        <select class="form-control state-select" id="state-transaction" placeholder="State">
          <option value="" disabled selected>Select State</option>
        </select>
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="District" id="district" name="district">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Asset Name" id="asset_name" name="asset_name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Asset Ticker" id="asset_ticker" name="asset_ticker">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Asset Description" id="asset_description" name="asset_description">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Asset Type" id="asset_type" name="asset_type">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Transaction Type" id="transaction_type" name="transaction_type">
      </div>
      <div class="col">
        <input type="text" class="form-control calendar" placeholder="Transaction Date" id="transaction_date" name="transaction_date">
      </div>
      <div class="col">
        <input type="text" class="form-control calendar" placeholder="Notification Date" id="notification_transaction_date" name="notification_transaction_date">
      </div>
      <div class="col">
        <label for="transaction-amount">Select Amount:</label>
        <select class="form-control" id="transaction-amount" placeholder="Amount">
          <option value="" disabled selected>Select Amount</option>
          <option value="0">$0 - $15,000</option>
          <option value="1">$15,001 - $50,000</option>
          <option value="2">$50,001 - $100,000</option>
          <option value="3">$100,001 - $250,000</option>
          <option value="4">$250,000 - $500,000</option>
          <option value="5">$500,001 - $1,000,000</option>
          <option value="6">$1,000,001 - $5,000,000</option>
          <option value="7">$5,000,001 - $25,000,000</option>
        </select>
      </div>
    </div>
    <button type="submit" class="btn btn-primary" id="transaction-btn">Submit</button>
</form>

<h3>Asset Submission Form</h3>
<form form action="/form/createAsset/" method="POST"> 
    <div class="form-row">
      <div class="col">
        <label for="person-asset">Select Person:</label>
        <select class="form-control person-select" id="person-asset" placeholder="Person">
          <option value="" disabled selected>Select Person</option>
        </select>
      </div>
      <div class="col">
        <label for="state-asset">Select State:</label>
        <select class="form-control state-select" id="state-asset" placeholder="State">
          <option value="" disabled selected>Select State</option>
        </select>
      </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Asset Owner" id="asset_owner" name="asset_owner">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Asset Income Type" id="asset_income_type" name="asset_income_type">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Asset Income" id="asset_income" name="asset_income">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Taxable Asset?" id="taxable_asset" name="taxable_asset">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Income Source" id="income_source" name="income_source">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Income Type" id="income_type" name="income_type">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Income Amount" id="income_amount" name="income_amount">
        </div>
        <div class="col">
          <input type="text" class="form-control calendar" placeholder="Transaction Date" id="asset_date" name="asset_date">
        </div>
        <div class="col">
          <input type="text" class="form-control calendar" placeholder="Notification Date" id="notification_asset_date" name="notification_asset_date">
        </div>
        <div class="col">
          <label for="asset-amount">Select Amount:</label>
          <select class="form-control" id="asset-amount" placeholder="Amount">
            <option value="" disabled selected>Select Amount</option>
            <option value="0">$0 - $15,000</option>
            <option value="1">$15,001 - $50,000</option>
            <option value="2">$50,001 - $100,000</option>
            <option value="3">$100,001 - $250,000</option>
            <option value="4">$250,000 - $500,000</option>
            <option value="5">$500,001 - $1,000,000</option>
            <option value="6">$1,000,001 - $5,000,000</option>
            <option value="7">$5,000,001 - $25,000,000</option>
          </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" id="asset-btn">Submit</button>
</form>

<script>flatpickr('.calendar', {})</script>
<script src="/public/js/main.js"></script>