

<section class="table-content">
    <div class="table-title">
        <h1>Most Recent Trades</h1>
        <form action="" method="post">
            <input type="text" placeholder="Search">
        </form>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>State</th>
                <th>District</th>
                <th>Owner</th>
                <th>Asset Name</th>
                <th>Transaction Type</th>
                <th>Transaction Date</th>
                <th>Notification Date</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
            </tr>
            <tr>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
                <td>Lorem</td>
            </tr>
        </tbody> 
    </table>
</section>

<section>
    <div class="info-box">
        <div class="update">
            <h4>Updates: </h4>
            <p>Financial Trades from House and Senate Members</p>
        </div>
        <div class="website-data">
            <div class="website-glance">
                <h3>Trades at a Glance</h3>
                <h6>Updated [X] minutes ago</h6>
            </div>
            <div class="records-count">
                <h4>XX,XXX</h4>
                <h6>Records Gathered</h6>
            </div>
            <div class="total-value">
                <h4>$XXX,XXX</h4>
                <h6>Total Value Traded</h6>
            </div>
            <div class="total-percent">
                <h4>XX.XX%</h4>
                <h6>Total % Return</h6>
            </div>
        </div>  
    </div>
</section>

<script>
    import {DataTable} from "simple-datatables"

    const transactionTable = document.querySelector(".table")
    const dataTable = new DataTable(transactionTable,{
        sortable: true    
    })
</script>




    

