
<h1>Most Recent Trades</h1>
<div class="container-fluid">
    <div class="row">
        <div class="col-10">
            <table id="transactionTable">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>State</th>
                        <th>Owner</th>
                        <th>District</th>
                        <th>Asset</th>
                        <th>Transaction Type</th>
                        <th>Notification Date</th>
                        <th>Transaction Date</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td></tr>
                    <tr><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td></tr>
                    <tr><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td></tr>
                    <tr><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td></tr>
                    <tr><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td></tr>
                    <tr><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td></tr>
                    <tr><td>Cat</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td></tr>
                    <tr><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td></tr>
                    <tr><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td></tr>
                    <tr><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td></tr>
                    <tr><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td></tr>
                    <tr><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td></tr>
                    <tr><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td></tr>
                    <tr><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td></tr>
                    <tr><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td></tr>
                    <tr><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td></tr>
                    <tr><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td></tr>
                    <tr><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td></tr>
                    <tr><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td></tr>
                    <tr><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td><td>Lorem</td></tr>
                </tbody> 
            </table>
        </div>
        <div class="col-2 ">
            <section>
                <div class="info-box">
                    <div class="update">
                        <h2>Updates: </h2>
                        <p>Financial Trades from House and Senate Members</p>
                        <!-- Twitter -->
                        <a href="#!"><i class="bi bi-twitter"></i></a>
                        <!-- Instagram -->
                        <a href=""><i class="bi bi-instagram"></i></a>
                        <!-- Reddit -->
                        <a href="#"><i class="bi bi-reddit"></i></a>
                    </div>
                    <div class="website-data">
                        <div class="website-glance">
                            <h3>Trades at a Glance</h3>
                            <h6>Updated [X] minutes ago</h6>
                        </div>
                        <div class="records-count">
                            <h4>XX,XXX</h4>
                            <h6>Records Gathered</h6>
                        </div>
                        <div class="total-value">
                            <h4>$XXX,XXX</h4>
                            <h6>Total Value Traded</h6>
                        </div>
                        <div class="total-percent">
                            <h4>XX.XX%</h4>
                            <h6>Total % Return</h6>
                        </div>
                    </div>  
                </div>
            </section>
        </div>
    </div>
</div>
<script>
    const dataTable = new simpleDatatables.DataTable("#transactionTable", {
    sortable: true,
    fixedHeight: true,
    searchable: true
})
</script>



    

