<div class="container">
    <div class="row">
        <div class="col-md-7  mx-auto">
            <img src="../public/img/undraw_confidential_letter_w6ux.svg" alt="newletter">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h3 class="mb-3 center about">Newsletter Signup</h3>
        </div>
    </div>
