body {
    padding-top: 70px;
    
}

h3 {
    text-align: left;
}

img {
    width: 100%;
    height: auto;
}


tbody {
    font-size: 14px;
}

tbody > tr > td {
    white-space: nowrap;
}

.trades {
    padding-bottom: 50px;
}

.top-buffer {
    margin-top: 5%;
}

.bottom-buffer {
    margin-bottom: 5%;
}

.center {
    text-align: center;
}

.border {
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 2%;
}

.border-table {
    border-radius: 10px;
    margin-bottom: 2%;
    padding: 2%;
}