:root {
    --black: #121917;
    --forest-green: #33413d;
    --med-grey: #9fa4a3;
    --lite-grey: #d6d9d9;
    --dark-grey: #7a8182;
    --lite-text: #EEEEEE
}

body {
    padding-top: 70px;
    background-color: var(--forest-green);
}

h1 {
    color: var(--black)
}

h3 {
    text-align: left;
}

a {
    color: var(--black)
}

a:hover {
    color: var(--lite-text)
}

img {
    width: 100%;
    height: auto;
}

span a {
    color: #EEEEEE;
    text-decoration: none;
}

tbody {
    font-size: 14px;
}

tbody > tr > td {
    white-space: nowrap;
}

button {
    background-color: #63A3B6;
    border-radius: 10%;
    padding: 3px;
}

button:hover {
    background-color: #93bfcc;
}

.navbar-image{
    width: 250px;
    height: 39px;
}

.about {
    color: var(--lite-text)
}

.data-container {
    background-color: var(--lite-grey);
}

.social-media {
    display: inline-block;
    min-width: 100%;
}

.social-media > * {
    background-color: #63A3B6;
    border-radius: 5%;
    padding: 1%;
    margin-left: 1px;

}

.social-media *:hover {
    background-color: #93bfcc;
}

.top-buffer {
    margin-top: 5%;
}

.bottom-buffer {
    margin-bottom: 5%;
}

.center {
    text-align: center;
}

.border {
    border-radius: 10px;
    margin-bottom: 25px;
    padding: 2.5%;
}

.border-img {
     border-radius: 10px;
     margin-bottom: 2%;
     padding: 5%
}

.form-control-newsletter {
    display: block;
    width: 100%;
    min-height: calc(1.5em + .75rem + 2px);
    padding: .575rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    /* background-color: #fff; */
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 52px;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.card.newsletter-card{
    padding: 20px;
    background-color: blue;
        padding-bottom: 50px;
    padding-top: 50px;
 
}

.form-control-newletter:focus {
    color: #495057;
    /* background-color: #fff; */
    border-color: #f9a826;
    outline: 0;
    box-shadow: none;
}

.border-rad-newsletter{

    border-top-right-radius: 28px;
    border-bottom-right-radius: 28px;

    /* color: #fff; */
    background-color: #63A3B6;
    border-color: #EEEEEE;
}

.border-rad-newsletter:hover{
   
     background-color: #63A3B6;
    border-color: #EEEEEE;

}