<div class="container">
    <div class="row">
        <div class="col-md-7  mx-auto">
            <img src="../public/img/undraw_subscribe_vspl.svg" alt="newletter">
        </div>
    </div>
    <div class="row">
        <div class="col m-3">
            <h3 class="center about">Newsletter Signup</h3>
        </div>
    </div>
    <div class="row">
        <div class="col m-3">
            <form action="/newsletter" method="POST">
                <div class="input-group mb-3 mt-4">
                    <input type="text" class="form-control" placeholder="Enter email" id="email" name="email">
                    <button class="btn btn-success border-rad" type="button" id="email-btn">Subscribe</button>
                </div>
            </form>
        </div>
    </div>
</div>

